.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
       grid-template-rows: 110px 60px 500px;
    /* grid-template-rows: 110px 60px auto auto auto; */
}

.header {
    height: 110px;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(35,52,72);
    color: white;
    border: 1px solid rgb(9, 194, 70);
}

.subheader {
    height: 60px;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
    align-items: center;
    color: white;
    border: 1px solid black;
}

.footer {
    height: 70px;
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(8, 15, 46, 0.863);
    color: white;
    border: 1px solid rgb(9, 194, 70);
}


.box1 {
    border: 1px dotted red;
    background-color: rgb(230, 180, 89);
    display: grid;
   
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.box11, .box12, .box13, .box14 {
    width: 150px;
    height: 150px;
    background-color: lightgray;
     justify-content: center;
}
.box11 img, .box12 img, .box13 img, .box14 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box2 {
    border: 1px dotted red;
    background-color: rgb(187, 93, 93);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.box21, .box22, .box23, .box24 {
    width: 150px;
    height: 150px;
    background-color: lightgray;
}
.box21 img, .box22 img, .box23 img, .box24 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box3 {
    border: 1px dotted red;
    background-color: burlywood;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.box31, .box32, .box33, .box34 {
    width: 150px;
    height: 150px;
    background-color: lightgray;
}


.box4 {
    border: 1px dotted red;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.box41, .box42, .box43, .box44 {
    width: 150px;
    height: 150px;
    background-color: lightgray;
}
