.container{
    background-color: rgb(153, 224, 230);
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: auto;
    gap: 23px;
    flex-wrap: nowrap;
    

}
.child1{
    background-color: rgb(37, 206, 164);
    height: 102px;
    width: 102px;
    font-family: monospace, bold;
}
.child2{
    background-color: blue;
    height: 102px;
    width: 102px;
    font-family: monospace, bold;
    font-size: 16px;
    font-weight: bold;

}
.child3{
    background-color: brown;
    height: 102px;
    width: 102px;

}
.child4{
    background-color: blanchedalmond;
    height: 102px;
    width: 102px;

}